name: IPAbuyer Publish Workflow

on:
  workflow_dispatch:


jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [ x64, ARM64 ]

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Decode and Install Certificate
      id: cert
      shell: pwsh
      env:
        CERT_PFX_BASE64: ${{ secrets.CERT_PFX_BASE64 }}
      run: |
        $certBytes = [Convert]::FromBase64String($env:CERT_PFX_BASE64)
        $certPath = Join-Path -Path $env:RUNNER_TEMP -ChildPath "cert.pfx"
        [System.IO.File]::WriteAllBytes($certPath, $certBytes)

        $password = ConvertTo-SecureString -String " " -Force -AsPlainText
        $cert = Import-PfxCertificate -FilePath $certPath -CertStoreLocation Cert:\CurrentUser\My -Password $password

        echo "THUMBPRINT=$($cert.Thumbprint)" >> $env:GITHUB_OUTPUT

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '24'

    - name: Set up npm
      run: npm ci

    - name: Build
      shell: pwsh
      run: npm run build:renderer && npm run build:app:${{ matrix.platform }}

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: IPAbuyer_${{ matrix.platform }}
        path: |
          **\release\**\*.appx
          **\release\**\*.msix

    - name: Cleanup Certificate
      shell: pwsh
      run: |
        $certPath = Join-Path -Path $env:RUNNER_TEMP -ChildPath "cert.pfx"
        if (Test-Path $certPath) {
          Remove-Item -Path $certPath -Force
        }

        $thumbprint = "${{ steps.cert.outputs.THUMBPRINT }}"
        if ($thumbprint) {
          Get-ChildItem Cert:\CurrentUser\My | Where-Object { $_.Thumbprint -eq $thumbprint } | Remove-Item -Force
        }
